<%- include('partials/header') %>
<div>
    <h2>Create Post</h2>
    <form action="/" method="POST">
    <label for="blogTitle">Title</label>
    <input type="text" name="blogTitle" id=""><br>
    <label for="blogDescription">Post</label>
    <textarea name="blogDescription" id="" cols="100" rows="10"></textarea><br>
    <input type="submit" name="blog" id="" value="Publish">
    </form>
</div>

<%- include('partials/footer') %> 
